 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

//VARIABLES
$blue: #0093C3;
$grey: #666666;
$light-grey: #DFDFDF;

//MIXINS
@mixin blueLinks {
  font: {
    size: 13px;
    weight: normal;
  }    
  color: $blue;
  text-decoration: none;  
  
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

@mixin box-border {
  border-radius: 3px;
  border: 1px solid #DFDFDF;

  &:hover {
    border: 1px solid #BEB7B3;
    cursor: pointer;
  }
} 





*:focus {
  outline: 0;
}

body {
  background: #F5F5F1;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  max-width: 1300px;
}

a {
  text-decoration: none;
}

.outer {
  background-color: white;
  border-bottom: 1px solid #D9D9D5;

}

.inner {
  background-color: white; 
  min-width: 1300px;
  width: 90%;
  height: 75px; 
  margin: 0px auto;
  overflow: hidden;
}

//HEADER LEFT
.header-left {
  overflow: hidden;
  display: inline-block;
  width: 550px;
  height: 100%;
  margin: 0px 0px 0px 8%;
  padding: 0;
  float: left;
  img {
      width: 90px;
      float: left;
      margin: 12px 0px 0px 0px;

      &:hover {
        cursor: pointer;
      }
    }
  form {
    float: left;
    margin: 21px 0px 0px 8px;
    input {
    height: 33px;
    width: 250px;
    margin: 0px 0px 0px 0px;
    background-color: #FBFBFA;
    border-radius: 3px;
    border: 1px solid #CFCBC8;
    padding: 5px 10px;
    font-size: 13px;
    }
  }
  button{
    float: left;
    margin: 21px 0px 0px -1px;
    background-color: #4FA9C6;
    border: 1px solid #4CA0BA;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    height: 33px;
    width: 80px;

    &:hover {
      background-color: #3F98BB;
    }

  }
  .browse {
    height: 33px;
    width: 80px;
    float: left;
    margin: 22px 0px 0px 20px;
    border: 1px solid #E5E5E5;
    border-radius: 3px;
    color: #666666;

    &:hover {
      border: 1px solid #B2B2B2;
      cursor: pointer;
    }
    span {
      display: inline-block;
      margin: 8px 0px 0px 8px;
      font-size: 14px;
      text-align: center;
    }    
    .triangle {
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 7px 5px 0 5px;
      border-color: #888888 transparent transparent transparent;
    }
  }
}
// HEADER RIGHT
.header-right {
  float: left;
  height: 100%;  
  overflow: hidden;
  display: inline-block;
  width: 300px;
  margin: 0px 3% 0px 150px;
  
  .header-links {
    display: inline-block;
    overflow: auto;
    float: left;
    margin: 0px 0px 0px 45px;

    a {
      display: inline-block;
      margin: 30px 0px 0px 18px;
      text-decoration: none;
      color: #0192B5;
      font-size: 14px;
      float: left;

      &:hover {
        text-decoration: underline;
      }
    }

    .sign-in {
      border: 1px solid #0192B5;
      border-radius: 3px;
      display: inline-block;
      float: left;
      height: 32px;
      width: 65px;
      text-align: center;
      margin: 22px 0px 0px 15px;

      &:hover {
        background-color: #F0FBFD;
        cursor: pointer;
      }

      span {
        margin-top: auto;
        display: block;
        margin: 7px auto;
        color: #0192B5;
        font-size: 14px;
         
      }
    }
  }
  .cart {
    float: right;
    margin: 19px 0px 0px 8px;
    display: inline-block;

    img {
      display: block;
      text-align: center;
      width: 20px;
      } 
    span{
      font-size: 12px;
      color: #888888;
      
      &:hover {
        color: black;
        cursor: pointer;
      }
    }   
  }    
}
//////////////////////////////////////////////////
//////////////////////////////////////////////////
//LEFT SIDEBAR
//////////////////////////////////////////////////
//////////////////////////////////////////////////

.left-outer {
  width: 225px;
  float: left;
  display: inline-block;
  margin: 30px 0px 0px 115px;

  span {
    color: #666666;
    font-size: 13px;
    font-weight: bold;
  }
}

.left-inner {
  background-color: white;
  border: 1px solid #ECECEC;
  margin: 5px 0px 0px 0px;
  padding: 15px;

  
  h4 {
    color: #666666;
    font-size: 13px;
    margin: 0px 0px 10px 0px;
  }

  .heading {
    font-size: 13px;
    color: #0092CA;
    font-weight: bold;
    margin: 10px 0px 0px 0px;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
    li {
      margin: 3px 0px 0px 2px;

      input:hover {
        cursor: pointer;
      }
      
      input[type=radio]:checked + label {
        color: #666666;
        font-weight: bold;
      }

      label {
        color: #0096CA;
        font-size: 13px;
        margin-left: 5px;
        
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }

    .second-level a {
      @include blueLinks;
      margin: 0px 0px 0px 15px;
      padding: 0px;
    }
  }

  .categories {
    border-bottom: 1px solid #DFDFDF;
    padding: 0px 0px 15px 0px;
  }

  #price-filter {
    padding: 18px 0px;
    border-bottom: 1px solid #DFDFDF;
    height: auto;

    .input-box {
      border: 1px solid #DFDFDF;
      border-radius: 3px;
      display: inline-block;
      height: 32px;
      width: 55px;
      overflow: auto;
      margin: 0px;
      position: relative;

      span {
        color: #A9A9AB;
        font-size: 13px;
        font-weight: normal;
        position: absolute;
        margin: 9px 0px 0px 6px;
      }
      input {
        border: none;
        display: inline-block;
        margin: 7px 0px 0px 15px;
        font-size: 14px;
        position: absolute;
      }
      
      &:hover {
        cursor: pointer;
        border: 1px solid #BDB7B3;
      }
    }

    .to-holder {
      display: inline-block;
      .input-to {
        font-weight: normal;
        display: inline-block;
      } 
    }

    .input-submit {
      border: 1px solid #CEC9C6;
      background-color: #F3F3F2;
      border-radius: 3px;
      display: inline-block;
      height: 32px;
      width: 45px;
      overflow: auto;
      margin: 0px;
      
      &:hover {
        cursor: pointer;
        border: 1px solid #CEC9C6;
        background-color: #EBEBEA;
      }

      .side-triangle {
        margin: 8px 0px 0px 16px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 7.5px 0 7.5px 11px;
        border-color: transparent transparent transparent #7E7773;
      }
    }    
  }

  .color-filter {
    border-bottom: 1px solid $light-grey;
    padding: 18px 0px;


      .color-box {
        height: 20px;
        width: 20px;
        display: inline-block;
        border-radius: 3px;
        border: 1px solid $light-grey;
      }

      #red {
          background-color: #FF0002;
        }
      #orange {
          background-color: #FF7100;
        }
      #yellow {
          background-color: #F6D000;
        }
      #green {
          background-color: #00CF08;
        }
      #blue {
          background-color: #00D0F7;
        }
      #purple {
          background-color: #BC00F5;
        }
      #black {
          background-color: #000000;
        }
      #white {
          background-color: #FFFFFF;
        }   
  }

  .ordering-filter {
    border-bottom: 1px solid $light-grey;
    padding: 18px 0px;

    span {
      color: $blue;
      font-weight: normal;
      font-size: 13px;
      text-decoration: none;
    }

    label {
        color: #0096CA;
        font-size: 13px;
        margin-left: 5px;
        
        &:hover {
          text-decoration: none;
          cursor: pointer;

        }

        input[type='checkbox'] {
          width: 15px;
          height: 15px;
          background: white;
          border-radius: 3px;
          border: 1px solid #BDB7B3;
        }
    }
  }

  .shop-location-filter {
    border-bottom: 1px solid $light-grey;
    padding: 18px 0px;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      
      li {
        margin: 3px 0px 0px 2px;

        input:hover {
          cursor: pointer;
        }
        
        input[type=radio]:checked + label {
          color: #666666;
          font-weight: bold;
        }

        label {
          color: #0096CA;
          font-size: 13px;
          margin-left: 5px;
          
          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
    }
  }

  .shipping-filter {
    padding: 18px 0px;
    overflow: auto;
  
    h4 {
      display: inline;
      float: left;

    }

    span {
      display: inline-block;
      float: right;
      color: $blue;
      text-decoration: none;
      font-weight: normal;
    
      &:hover {
        text-decoration: underline;
      }
    }

    input {
      display: inline-block;
      font-size: 13px;
      padding: 3px 8px;
      height: 35px;
      border: 1px solid #CFCBC8;
      width: 100%;
      border-radius: 3px;


    }

    // .drop-triangle {
    //     display: inline;
    //     float: right;
    //     width: 0;
    //     height: 0;
    //     border-style: solid;
    //     border-width: 6px 5px 0 5px;
    //     border-color: #C4C2C0 transparent transparent transparent;

    //   }

  }

  
}



//////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////
//MAIN BODY CONTENT
/////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////

.outer-container {
  display: inline-block;

  .results-heading {
    overflow: auto;

    span {
      display: inline-block;
      color: #666666;
      font-size: 13px;
      margin: 31px 0px 0px 26px;

    }

    #sort-options {
      display: inline-block;
      color: #666666;
      font-size: 13px;
      margin: 31px 0px 0px 0px;
      float: right;
    }
  }
}

.container {
  overflow: hidden;
  width: 800px;
  float: left;
  margin-left: 1%;
  margin-top: -4px;


  .listing {
    display: inline-block;
    height: 230px;
    width: 228px;
    margin: 10px 15px 10px 15px;
    padding: 2px;
    overflow: hidden;
    border: 1px solid #ECECEC;
    background-color: white;

    img {
      display: block;
      height: 185px;
      width: 98%;
      padding: 2px;
      margin: 0px auto;
    
      &:hover {
        cursor: pointer;
      }
    }

    .l_title {
        display: block;
        text-align: left;
        font-size: 13px;
        font-weight: normal;
        margin: 0;
        padding: 2px 5px;
        white-space: nowrap;
        text-overflow: ellipsis;
      
        a {
        color: #666666;
        
          &:hover {
            text-decoration: underline;
            color: #666666;
          } 
        }
      }

    .l_shop_name {
      float: left;
      color: #B2B2B2;
      font-size: 11px;
      font-weight: normal;
      margin: 0;
      padding: 2px 5px;

      a {
        color: #B3B1BB;

        &:hover {
          text-decoration: underline;
          color: #B3B1BB;
        } 
      }
    }

    .l_price {
      float: right;
      color: #78C042;
      font-size: 12px;
      font-weight: normal;
      margin: 0;

    }  

    .l_currency {
      float: right;
      color: #78C042;
      font-size: 12px;
      font-weight: normal;
      margin: 0;

    }  
  }
}

.related-searches {
  display: inline-block;
  margin: 15px 0px 0px 5px;
  h3{
    font-size: 14px;
    color: #333333;
    font-weight: normal;
    margin: 0px 0px 0px 25px;
    padding: 0px;
  }
  
  ul {
    display: inline-block;
    list-style-type: none;
    margin: 10px 0px 0px 25px;
    padding: 0px;
    float: left;
    
    li {
      padding: 3px 0px;
      float: none;
      
      a {
        @include blueLinks;
        font-size: 14px;
      } 
    } 
  }
}

.page-wrapper{
  display: block;
  width: 100%;
  margin: 30px 0px;

  .pages-control{
    margin: 0px auto;
    text-align: center;

    ol {
    list-style-type: none;
    display: block;


      li {
        display: inline-block;
        padding: 5px;

        a {
          @include blueLinks;
          font-weight: bold;
          font-size: 14px;
        }
      }
    }
  }

.nav-container {
  display: inline-block;
  margin: -8px 0px 0px 33px;

  .circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    margin: 0px 5px 0px 0px;


    .b-triangle {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6.5px 10px 6.5px 0;
      border-color: transparent #F8F8F6 transparent transparent;
      margin: 8px 4px 0px 6px;
    }

    .f-triangle {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6.5px 0 6.5px 10px;
      border-color: transparent transparent transparent #F8F8F6;
      margin: 8px 0px 0px 11px;
    
    }
  }
}


#prev-page {
  background-color: #B7DEE4;
  border: 1px solid #AED2D6;

  &:hover {
    cursor: pointer;
  }
}
#next-page { 
  background-color: #2CABC9;
  border: 1px solid #0C8D9F;

  &:hover {
    cursor: pointer;
    background-color: #1699BE;
  }
}
}












